.container {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.searchContainer {
  width: calc(100% + 24px);
}

.heading {
  display: flex;
  justify-content: space-between;

  .left {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .right {
    width: 240px;
  }
}

.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: masonry;
  gap: 20px;
}